@{
    ViewBag.Title = "index";
}

@{ ViewBag.Title = "Index"; } <h2>Welcome to the Core Web App</h2> 

@Html.ActionLink("Plugin", "Index", "Plugin",new { Area = "Plugin" }, new{})
@Html.ActionLink("Marketing2", "Index", "Marketing2",new { Area = "Marketing2" }, new{})
@*@Html.ActionLink("LoadPlugin", "LoadPlugin", "Home")*@


